{% extends 'bsr/base.html' %}


{% load staticfiles %}

{% block heading %}
<header class="intro-header" style="background-image: url('{% static 'bsr/img/home-bg.jpg' %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="site-heading">
                  <h1>Weekly English</h1>
                  <hr class="small">
                  <span class="subheading">Login</span>
              </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<form method="POST" class="login-form" action="{% url 'login' %}">
{% csrf_token %}
<input type="hidden" name="next" value="{{next}}">
<!-- {{ form.as_p }} -->
<div class="form-group">
    <label for="{{ form.username.id_for_label }}">ID</label>
    <input class="form-control" id="{{ form.username.id_for_label }}" maxlength="15" name="{{ form.username.html_name }}" type="text" />
</div>
<div class="form-group">
  <label for="{{ form.password.id_for_label }}">패스워드</label>
  <input class="form-control" id="{{ form.password.id_for_label }}" maxlength="120" name="{{ form.password.html_name }}" type="password" />
</div>
<input type="submit" class="save btn btn-success" value="login">
<a href="{% url 'study:post_list' %}">
  <button type="button" class="btn btn-danger">cancel</button>
</a>
</form>
<span class="signup-guide">아이디가 없으신가요? <a href="{% url 'signup' %}"><mark>회원가입</mark></a></span>
{% endblock content %}
