{% extends 'bsr/base.html' %}

{% load staticfiles %}

{% block heading %}
<header class="intro-header" style="background-image: url('{% static 'bsr/img/home-bg.jpg' %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="site-heading">
                  <h1>Weekly English</h1>
                  <hr class="small">
                  <span class="subheading">Login</span>
              </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}


{% block content %}
<form method="POST" class="signup-form" action="{% url 'signup' %}">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" class="save btn btn-success" value="signup">
<a href="{% url 'study:post_list' %}">
  <button type="button" class="btn btn-danger">cancel</button>
</a>
</form>
{% endblock content %}
