{% extends 'bsr/base.html' %}
{% load staticfiles %}

{% block heading %}
<header class="intro-header" style="background-image: url('{% static 'bsr/img/home-bg.jpg' %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="site-heading">
                <a class="heading" href="/">
                  <h1>Weekly English</h1>
                  <hr class="small">
                  <span class="subheading">Edit Post</span>
                </a>
              </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}


{% block content %}
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	<form method="POST" class="login-form" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="hidden" name="next" value="">
		{{ form.as_p }}
		<input type="submit" class="save btn btn-success" value="수정">
		<a href="{% url 'study:post_list' %}">
		  <button type="button" class="btn btn-danger">취소</button>
		</a>
	</form>
</div>
{% endblock content %}
