{% extends 'bsr/base.html' %}
{% load staticfiles %}


{% block heading %}
<header class="intro-header" style="background-image: url('{% static 'bsr/img/home-bg.jpg' %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="site-heading">
                  <h1 class><a class="heading" href="/">Weekly English</a></h1>
                  <hr class="small">
                  <span class="subheading">몽키와 썬샤인의 영어공부</span>
              </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
{% for post in object_list %}
  <div class="post-preview">
      <a href="{% url 'study:post_detail' pk=post.pk %}">
          <h2 class="post-title">
              {{ post.title }}
              <span class="count">[{{ post.comments.count }}]</span>
          </h2>
          <!--<h3 class="post-subtitle">
              {{ post.content |  truncatechars_html:100 | safe}}
          </h3>-->
      </a>
      <p class="post-meta">by <a href="#">{{ post.author }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;{{ post.created_at | date:"Y-m-d D" }}</p>
  </div>
  <hr>
{% endfor %}

{% if is_paginated %}
<div class="text-center">
	<ul class="pagination">
	  {% if page_obj.has_previous %}
	    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
	  {% else %}
	    <li class="disabled"><span>&laquo;</span></li>
	  {% endif %}
	  {% for i in paginator.page_range %}
	    {% if page_obj.number == i %}
	      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
	    {% else %}
	      <li><a href="?page={{ i }}">{{ i }}</a></li>
	    {% endif %}
	  {% endfor %}
	  {% if page_obj.has_next %}
	    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
	  {% else %}
	    <li class="disabled"><span>&raquo;</span></li>
	  {% endif %}
	</ul>
</div>
{% endif %}
{% endblock content %}
